<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style_conn.css' %}">
    <title>Loging Page</title>
  </head>
  
  <body>
    <section>
        <div class="titi">
          <h2>CONNEXION</h2>
          <div class="entete">
            <form method="post" action="{% url 'connexion' %}">
              {% csrf_token %}
              <input class="input" type="text" name="username" placeholder="Entrer le nom d'utilisateur...">
              <input class="input" type="password" name="password" placeholder="Entrer le mot de passe...">
              <button type="submit">Connectez-vous</button>
            </form>
                <label>
                </label>
          </div>
              <div class="container">
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                  <span class="psw"> <a href="#">Forgot password?</a></span>
              </div>
              {% comment %} <div class="test">
                <p class="or">Or Connect with</p>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-linkedin"></i>
              </div> {% endcomment %}
              <footer><b>Abdoul Kader SAWADOGO</b></footer>
          </div>

        {% comment %} <div class="part"> {% endcomment %}
          {% comment %} <i class="fa-solid fa-user-plus"></i> {% endcomment %}
          {% comment %} <h1>Hello Friend!</h1> {% endcomment %}
          {% comment %} <p id="lili">Enter your personnal details and start journey whith us</p> {% endcomment %}
        {% comment %} <a class="regis" href="submit"> {% endcomment %}
          {% comment %} <button>REGISTER<i class="fa fa-circle-arrow-right"></i></button> {% endcomment %}
        {% comment %} </a> {% endcomment %}
        {% comment %} </div> {% endcomment %}
    </section>
  

      
        
  </body>
</html>