<!DOCTYPE html>
<html lang="en">
{% load static %}
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Faso Alerte Problème</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <!-- body -->
   <body class="main-layout" >
      <!-- loader  -->
      <!-- end loader -->
      <!-- header -->
      <header>
         <div class="header" >
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a><img src="{% static 'images/logo.png' %}" alt="#" /></a>
                            </div>
                        </div>
                     </div>
                  </div> 
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item d_none">
                                 <a class="nav-link" href="{% url 'account' %}">CREER COMPTE</a>
                              </li>
                              <li class="nav-item d_none">
                                 {% if request.user.is_authenticated %}
                                 <a class="nav-link" href="{% url 'connexion' %}">{{ request.user.username }}<i class="fa fa-user-circle padd_right" aria-hidden="true"></i></a>
                                 {% else %}
                                 <a class="nav-link" href="{% url 'connexion' %}">CONNECTER<i class="fa fa-user-circle padd_right" aria-hidden="true"></i></a>
                                 {% endif %}
                                 
                              </li>
                              <li class="nav-item active">
                                 <a class="nav-link" href="{% url 'pompiers' %}">POMPIERS</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'onea' %}">ONEA</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'sonabel' %}">SONABEL</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'autres' %}">AUTRES</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'contact' %}">NUMEROS URGENTS</a>
                              </li>
                              <li class="nav-item d_none">
                                 <a class="nav-link" href="{% url 'apropos' %}">A_PROPOS</a>
                              </li>

                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#banner1" data-slide-to="0" class="active"></li>
               <li data-target="#banner1" data-slide-to="1"></li>
               <li data-target="#banner1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container-fluid">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <h1>Alerte Rapide</h1>
                                 <span>Sauvons des vies grâce à un geste citoyen</span>
                                 <p>Vous êtes dans un endroit sûr et fiable pour alerter qui de droit pour la résolution rapide d'un problème constaté. Vous êtes en face d'un accident de la route, signalez rapidement et éfficacement les pompiers en indiquant automatiquement et avec précision le lieu de l'incendie et avec des photos à l'appuie.</p>
                                 <!-- <a href="#">More Info </a> <a href="#">Contact Us</a> -->
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="{% static 'images/pompier.jpg' %}" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item ">
                  <div class="container-fluid">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <h1>Alerte Rapide</h1>
                                 <span>L'eau c'est la vie alors économisons la.</span>
                                 <p>Vous êtes dans un endroit sûr et fiable pour alerter qui de droit pour la résolution rapide d'un problème constaté. Nos populations sont en manques d'eau potable, alors en tant que citoyen, alertez rapidement le service de l'ONEA afin d'économiser l'eau. Nous avons tous que l'eau c'est la vie.</p>
                                 <!-- <a href="#">More Info </a> <a href="#">Contact Us</a> -->
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="{% static 'images/tuyau.jpg' %}" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>   
               <div class="carousel-item ">
                  <div class="container-fluid">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <h1>Alerte Rapide</h1>
                                 <span>Sauvons des vies et économisons l'électricité.</span>
                                 <p>Vous êtes dans un endroit sûr et fiable pour alerter qui de droit pour la résolution rapide d'un problème constaté. Une coupure de câble avec nos poteaux en fer peut électrocuter les enfants qui ne savent pas que c'est un danger. Alors alerter rapidement le service de la SONABEL pour qu'il puisse intervenir le plus vite possible. </p>
                                 <!-- <a href="#">More Info </a> <a href="#">Contact Us</a> -->
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="{% static 'images/courant.JPG' %}" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
         </div>
      </section>
      <!-- end banner -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>