body
{
	background-color: #87CEEB;
}

.navig{
	font-size: 14px;
    font-weight: bold;
    background-color: #E7EFF6;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center; 
    top: 0;
    left: 0;
   position: fixed;
}
.start
{
	color: black;
	margin-left: 10%;
}

.sign
{
	color: white;
    background-color: #0c83c9;
    height: 30px;
    display: inline;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    border: 0px;
    border-radius: 5px;
}


.paraph {
    width: 550px;
    margin-left: 5%;
    font-family:'Segoe UI',Tahoma , sans-serif;
    font-weight:750;
    font-size:30px;
    color: white;
}


.entete{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.toto{
    display: flex;
    background-image: url("https://images.pexels.com/photos/237272/pexels-photo-237272.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    width: 100%;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.input{
    color: gray;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 0px;
    padding-left: 10px;
}

.up{
    color: white;
    background-color: #455AFC;
    height: 30px;
    width: 110px;
    display: inline;
    justify-content: center ;
    align-items: center;
    border: 0px;
    border-radius: 4px ;
    margin-left: 5px;
}

.tout{
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.tout p{
    color: gray;
    font-size: 15px;
    width: 60%;
    margin-left: 20%;
}

.fa-solid
{
	color: blue;
	height: 10px;
	font-size: 70px;
}
