@media screen and (max-width: 533px){
    input[type=text], input[type=password] {
      font-size: 300%;
      padding: 8% 15%;
      margin: 8% 0;
      }
}
button {
    background-color: #4B0082;
    color: white;
    padding: 2% 15%;
    margin: 8% 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  span.psw {
       display: block;
       float: right;
    }
  
    input[type=text], input[type=password] {
    width: 100%;
    padding: 2% 15%;
    margin: 8% 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #C1C1C1;
    height : 100%;
  }
  .container {
    padding: 15%;
    display: block;
  }
  
  .part{
      background-size: 100%;
      background-color: #88248A;
      color: white;
      width: 100%;
      text-align: center;
      /*background-image: linear-gradient(to right, rgba(57,20,67) rgba(139,43,164));*/
      font-size: 25%;
  }
  section
  {
      display: flex;
      flex-direction: column-reverse;
      height: 100%;
  }
  .titi{
      margin-right: 50%;
      background-color: #E4E6E5;	
      padding: 2% 15%;
      margin: 8% 0;
      display: block;
      width: 100%;
      display: block;
      box-sizing: border-box;
  }
  h2
  {
      text-align: center;
      font-size: 100%;
  }
  .or{
      text-align: center;
  }
  .fa-solid
  {
      color: white;
      height: 10px;
      font-size: 70%;
      margin-top: 110px;
  }
  
  .fa-brands
  {
      color: black;
      height: 20%;
      font-size: 30%;
      display: inline-block;
      justify-content: center;
  }
  .test{
      text-align: center;
      font-size: 100%;
  }
  footer
  {
      color: black;
      text-align: center;
      font-size: 70%;
      margin-top: 50px;
  }
  i{
      margin-left: 10%;
      /*margin-top: 70px;*/
  }
  h1
  {
      margin-top: 10%;
  }
  a
  {
      text-decoration: none;
  }
  
  .part button
  {
      color: white;
      width: 40%;
      padding: 15%;
      background-color: #33093E;
      margin-top: 10px;
      border-radius: 20px;
      border: 1px solid white
  }
  
  .fa
  {
      color: white;
      height: 5px;
      font-size: 20%;
      margin-top: none;
  }
  /* .entete{ */
      /* margin-left: 5%; */
      /* margin-right: 5%; */
  /* } */
  .lili{
    width: 100%;
    padding: 2% 15%;
    margin: 8% 0;
    display: block;
    border: 1px solid #ccc;
    /* box-sizing: border-box; */
    background-color: #C1C1C1;
    height : 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
 }